
* {font-family: sans-serif;}
p {font-size: auto;}
h1 {font-size: 2em;}
h2 {font-size: 1.45em;}
h3 {font-size: 1.25em;}
h1,h2,h3 {
  font-weight: bold;
  color: #1e3d59; /* Dark blue for headers */
  margin: 15px 0 5px;
}

  
body {
  font-family: sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  background: url('massive_anime_dance_party.jpeg') no-repeat center center fixed;
  background-size: cover;
}
.mainContainer {
  margin: 2% 2% auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}
.inputContainer {
  width: 100%;
  max-width: 600px;
  margin: 5em auto;
}
h1.title {
  display:block;
  margin: auto;
  text-align: center;
}
sub {
  text-align: center;
  display: block;
}

img.icon {
  display: block;
  position: sticky;
  width: 4em;
  border-radius: 0;
  margin: auto;
  transition: width 0.5s ease-in-out;
}

h3.inputLabel {
  display: inline-block;
  margin: 1em;
}
div.inputblock {
  margin: 10px 0;
  display: inline-block;
}
button {
  display: block;
  margin: 1em;
  padding: 0.8em 2.2em;
  background: linear-gradient(45deg, #f0974f, #9db1ae);
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
}
#textOutput {
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;  /* Default font size */
  overflow-wrap: break-word;
  text-align: center;
  line-height: 4em;
}
.highlight {
  font-weight: bold;
  color: red;
}

.textBox {
  min-width: -webkit-fill-available;
  flex: 1 1 300px;
  border-radius: 1em;
  margin: 1em auto;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.header {
  padding: 20px;
}
.subtitle {
  font-size: 1em;
  color: #555; /* Lighter color for subtitle */
  text-align: center;
  margin: 10px auto;
  max-width: 900px;
  display: block;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2% 2%;
  margin: 0 auto;
}
.box {
  flex: 1 1 300px;
  border-radius: 1em;
  margin: 1%;
  padding: 20px 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc; 
}
.box .containerIcon {
  width: 4em;
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}

.boxLarge {
  flex: 1 1 300px;
  border-radius: 1em;
  box-shadow: none;
}

.flexContainerSmall {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}
.boxSmall {
  flex: 1 1 180px;
  border-radius: 1em;
  margin: 1em auto;
  box-shadow: none;
}

em.event_category {
  display: none;
}
h2.event_name {
  margin: 0 0 5px;
}
h3.event_location {
  font-size: small;
  color: lightslategray;
  margin-top: 0;
  font-weight: 500;
}
p.event_month {
  font-size: small;
  color: lightslategray;
  margin: 5px 0;
}


.box keyword {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
  font-size: .8em;
  font-style: italic;
  color: lightslategray;
}

/* Social Links */
.event_socials h3 {
  display: none;
}
social.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left; 
  margin: 10px auto; 
  padding: 0;
}
.box social a {
  display: block;
  margin: 5px;
  padding: 7px;
  background-color: azure;
  border: 1px solid lightsteelblue;
  border-radius: 8px;
  text-decoration: none;
  color: cadetblue;
  font-weight: 700;
  font-size: .8em;
}


.selectorContainer {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9); /* Make containers slightly transparent */
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
.selectorItem {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.selectorItem.selected {
  background-color: lightgreen;
}
#resultCount {
  font-weight: bold;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.9); /* Make result count slightly transparent */
  padding: 10px;
  border-radius: 5px;
  max-width: 150px;
}
#noResultsMessage {
  font-size: 1.2em;
  color: red;
  margin: 20px 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.9); /* Make no results message slightly transparent */
  padding: 10px;
  border-radius: 5px;
}
.toggle-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 1.2em;
  background: none;
  border: none;
}


@media only screen and (max-width: 768px) {
button {
  display: block;
  margin: 1em;
  padding: 0.8em 2.2em;
  background: linear-gradient(45deg, #f0974f, #9db1ae);
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
}
#textOutput {
  width: auto;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;  /* Default font size */
  overflow-wrap: break-word;
  text-align: center;
  line-height: 1.2em;
}
}



/* Footer styles */
#footer {
  background-color: #1e3d59;
  color: #ccc;
  padding: 40px 0 20px;
}
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.copyright {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #445566;
  font-size: 0.9rem;
  color: #ccc;
}



/* Mailchimp Styles */
div.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: 300px;
  padding: 20px;
    background: white;
    border-radius: 20px;
    display: block;
    margin:auto;
  }
img.referral_badge {
  width: auto;
  height: 30px;
}
