
* {font-family: sans-serif;}
p {font-size: auto;}
h1 {font-size: 2em;}
h2 {font-size: 1.45em;}
h3 {font-size: 1.25em;}


  
body {
  font-family: sans-serif;
  color: #333;
  padding: 20px;
  background: url('massive_anime_dance_party.jpeg') no-repeat center center fixed;
  background-size: cover;
}
.mainContainer {
  width: 100%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}
.inputContainer {
  width: 100%;
  max-width: 600px;
  margin: 5em auto;
}
h1.title {
  display:block;
  margin: auto;
  text-align: center;
}
sub {
  text-align: center;
  display: block;
}

img.icon {
  display: block;
  position: sticky;
  width: 4em;
  border-radius: 0;
  margin: auto;
  transition: width 0.5s ease-in-out;
}

textarea {
  min-width: -webkit-fill-available;
  height: 180px;
  margin: 2em auto;
  font-family: inherit;
  flex: 1 1 300px;
  border: none;
  border-radius: 1em;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input[type="range"] {
  width: auto;
}
h3.inputLabel {
  display: inline-block;
  margin: 1em;
}
div.inputblock {
  margin: 10px 0;
  display: inline-block;
}
button {
  display: block;
  margin: 1em;
  padding: 0.8em 2.2em;
  background: linear-gradient(45deg, #f0974f, #9db1ae);
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
}
#textOutput {
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;  /* Default font size */
  overflow-wrap: break-word;
  text-align: center;
  line-height: 4em;
}
.highlight {
  font-weight: bold;
  color: red;
}

.textBox {
  min-width: -webkit-fill-available;
  flex: 1 1 300px;
  border-radius: 1em;
  margin: 1em auto;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.header {
  padding: 20px;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 3em;
  padding: 20px;
}
.box {
  flex: 1 1 300px;
  border-radius: 1em;
  margin: 1em;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.9);
}
.box .containerIcon {
  width: 4em;
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}

.boxLarge {
  flex: 1 1 300px;
  border-radius: 1em;
  box-shadow: none;
}

.flexContainerSmall {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}
.boxSmall {
  flex: 1 1 180px;
  border-radius: 1em;
  margin: 1em auto;
  box-shadow: none;
}

.box keyword {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
.box social a {
  display: block;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}
.box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  flex: 1 1 300px;
}
.box keyword {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
.box social a {
  display: block;
}
.selectorContainer {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.selectorItem {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.selectorItem.selected {
  background-color: lightgreen;
}
#resultCount {
  font-weight: bold;
  margin: 10px 0;
}
#noResultsMessage {
  font-size: 1.2em;
  color: red;
  margin: 20px 0;
  display: none;
}


@media only screen and (max-width: 768px) {
.flexContainer {
    flex-direction: column;
    margin: auto;
}


body {
  color: #333;
  padding: 20px;
}
#mainContainer {
  width: 95%;
  max-width: 95%;
  margin: 0 auto;
}
textarea {
  min-width: -webkit-fill-available;
  height: 180px;
  flex: 1 1 300px;
  border-radius: 1em;
  margin: 0 auto;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input[type="range"] {
  width: auto;
}

button {
  display: block;
  margin: 1em;
  padding: 0.8em 2.2em;
  background: linear-gradient(45deg, #f0974f, #9db1ae);
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
}
#textOutput {
  width: auto;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;  /* Default font size */
  overflow-wrap: break-word;
  text-align: center;
  line-height: 1.2em;
}
}